In [1]:
import pandas as pd
import numpy as np
import missingno as msno
from datetime import datetime
import os

In [2]:
os.getcwd()

'C:\\Users\\a_kok\\Desktop\\Dersler\\IE 582\\Project'

In [3]:
train = pd.read_csv('D:/Project Data/train.csv')
test = pd.read_csv('D:/Project Data/test.csv')

In [49]:
df = train.copy()
df_test = test.copy()
df.drop_duplicates(inplace=True) # Train set has a lot of duplicates. Since timestamp with split seconds precision can't
# be same for different users and different actions, we drop all the duplicates.df = train.copy()

In [50]:
df.head()

,time_stamp,contentid,user_action,sellingprice,product_name,brand_id,brand_name,businessunit,product_gender,category_id,Level1_Category_Id,Level1_Category_Name,Level2_Category_Id,Level2_Category_Name,Level3_Category_Id,Level3_Category_Name,gender,unique_id,type
0,2020-12-02T22:26:14.023Z,39918893.0,favorite,3099.0,PerfectCare 600 EW6F449ST A+++ 9 KG 1400 Devir...,8511.0,Electrolux,Beyaz Eşya,Unisex,1272.0,1071.0,Elektronik,1212.0,Beyaz Eşya,1272.0,Çamaşır Makinesi,F,425,train
1,2020-12-08T23:15:04.603Z,3558544.0,favorite,3079.0,WW90J5475FW A+++ 1400 Devir 9 kg Çamaşır Makinesi,3228.0,Samsung,Beyaz Eşya,NaN,1272.0,1071.0,Elektronik,1212.0,Beyaz Eşya,1272.0,Çamaşır Makinesi,F,425,train
2,2020-12-05T16:19:01.157Z,31292729.0,favorite,3999.0,KM 9711 A++ 9 kg Çamaşır Kurutma Makinesi,10989.0,Vestel,Beyaz Eşya,Unisex,1276.0,1071.0,Elektronik,1212.0,Beyaz Eşya,1276.0,Kurutma Makinesi,F,425,train
3,2020-12-05T16:28:00Z,6363103.0,visit,2544.0,CMI 9710 A+++ 1000 Devir 9 kg Çamaşır Makinesi,10989.0,Vestel,Beyaz Eşya,NaN,1272.0,1071.0,Elektronik,1212.0,Beyaz Eşya,1272.0,Çamaşır Makinesi,F,425,train
4,2020-12-02T22:26:59Z,39918893.0,visit,3099.0,PerfectCare 600 EW6F449ST A+++ 9 KG 1400 Devir...,8511.0,Electrolux,Beyaz Eşya,Unisex,1272.0,1071.0,Elektronik,1212.0,Beyaz Eşya,1272.0,Çamaşır Makinesi,F,425,train

In [51]:
df.isnull().sum()

time_stamp                   0
contentid                    2
user_action                  0
sellingprice             32013
product_name              2184
brand_id                  2184
brand_name                2184
businessunit              2184
product_gender          234595
category_id               2184
Level1_Category_Id        2184
Level1_Category_Name      2184
Level2_Category_Id        2184
Level2_Category_Name      2184
Level3_Category_Id        2184
Level3_Category_Name      2184
gender                       0
unique_id                    0
type                         0
dtype: int64

In [52]:
df_test.isnull().sum()

time_stamp                    0
contentid                     2
user_action                   0
sellingprice              41368
product_name               2177
brand_id                   2177
brand_name                 2177
businessunit               2177
product_gender           275570
category_id                2177
Level1_Category_Id         2177
Level1_Category_Name       2177
Level2_Category_Id         2177
Level2_Category_Name       2177
Level3_Category_Id         2177
Level3_Category_Name       2177
gender                  2324814
unique_id                     0
type                          0
dtype: int64

In [53]:
df.drop(columns = ["brand_name","Level1_Category_Name","Level2_Category_Name","Level3_Category_Name"],inplace=True)
df_test.drop(columns = ["brand_name","Level1_Category_Name","Level2_Category_Name","Level3_Category_Name"],inplace=True)

In [54]:
groupby_df = pd.DataFrame()
groupby_df_test = pd.DataFrame()

In [55]:
groupby_df["user_action"] = df.groupby("unique_id",dropna=False)["user_action"].agg(lambda x:x.value_counts().index[0])
groupby_df_test["user_action"] = df_test.groupby("unique_id",dropna=False)["user_action"].agg(lambda x:x.value_counts().index[0])

In [56]:
groupby_df["sellingprice"] = df.groupby("unique_id",dropna=False)["sellingprice"].agg(lambda x:x.mean())
groupby_df_test["sellingprice"] = df_test.groupby("unique_id",dropna=False)["sellingprice"].agg(lambda x:x.mean())

In [57]:
groupby_df["contentid"] = df.groupby("unique_id",dropna=False)["contentid"].agg(lambda x:x.value_counts().index[0])
groupby_df_test["contentid"] = df_test.groupby("unique_id",dropna=False)["contentid"].agg(lambda x:x.value_counts().index[0])

In [58]:
df_test = df_test.fillna(df_test.mode().loc[0])
df = df.fillna(df.mode().loc[0])

In [59]:
df.columns

Index(['time_stamp', 'contentid', 'user_action', 'sellingprice',
       'product_name', 'brand_id', 'businessunit', 'product_gender',
       'category_id', 'Level1_Category_Id', 'Level2_Category_Id',
       'Level3_Category_Id', 'gender', 'unique_id', 'type'],
      dtype='object')

In [60]:
groupby_df["product_name"] = df.groupby("unique_id",dropna=False)["product_name"].agg(lambda x:x.value_counts().index[0])
groupby_df["brand_id"] = df.groupby("unique_id",dropna=False)["brand_id"].agg(lambda x:x.value_counts().index[0])
groupby_df["businessunit"] = df.groupby("unique_id",dropna=False)["businessunit"].agg(lambda x:x.value_counts().index[0])
groupby_df["category_id"] = df.groupby("unique_id",dropna=False)["category_id"].agg(lambda x:x.value_counts().index[0])
groupby_df["product_gender"] = df.groupby("unique_id",dropna=False)["product_gender"].agg(lambda x:x.value_counts().index[0])
groupby_df["Level1_Category_Id"] = df.groupby("unique_id",dropna=False)["Level1_Category_Id"].agg(lambda x:x.value_counts().index[0])
groupby_df["Level2_Category_Id"] = df.groupby("unique_id",dropna=False)["Level2_Category_Id"].agg(lambda x:x.value_counts().index[0])
groupby_df["Level3_Category_Id"] = df.groupby("unique_id",dropna=False)["Level3_Category_Id"].agg(lambda x:x.value_counts().index[0])
groupby_df["gender"] = df.groupby("unique_id",dropna=False)["gender"].agg(lambda x:x.value_counts().index[0])

In [61]:
groupby_df_test["product_name"] = df_test.groupby("unique_id",dropna=False)["product_name"].agg(lambda x:x.value_counts().index[0])
groupby_df_test["brand_id"] = df_test.groupby("unique_id",dropna=False)["brand_id"].agg(lambda x:x.value_counts().index[0])
groupby_df_test["businessunit"] = df_test.groupby("unique_id",dropna=False)["businessunit"].agg(lambda x:x.value_counts().index[0])
groupby_df_test["category_id"] = df_test.groupby("unique_id",dropna=False)["category_id"].agg(lambda x:x.value_counts().index[0])
groupby_df_test["product_gender"] = df_test.groupby("unique_id",dropna=False)["product_gender"].agg(lambda x:x.value_counts().index[0])
groupby_df_test["Level1_Category_Id"] = df_test.groupby("unique_id",dropna=False)["Level1_Category_Id"].agg(lambda x:x.value_counts().index[0])
groupby_df_test["Level2_Category_Id"] = df_test.groupby("unique_id",dropna=False)["Level2_Category_Id"].agg(lambda x:x.value_counts().index[0])
groupby_df_test["Level3_Category_Id"] = df_test.groupby("unique_id",dropna=False)["Level3_Category_Id"].agg(lambda x:x.value_counts().index[0])

In [62]:
# Convert TZ timestamp to datetime64 object

df['timestamp_dt'] = df.apply(lambda x: datetime.fromisoformat(x['time_stamp'].strip('Z')), axis=1)
df_test['timestamp_dt'] = df_test.apply(lambda x: datetime.fromisoformat(x['time_stamp'].strip('Z')), axis=1)

df.drop('time_stamp', axis=1, inplace=True)
df_test.drop('time_stamp', axis=1, inplace=True)

In [63]:
# I will be creating new variables month, day, day_name hour and minute. I believe that minute and day will not be 
# significant but we can decide it later.

df['weekday'] = df['timestamp_dt'].apply(lambda x: x.weekday())
df['day'] = df['timestamp_dt'].apply(lambda x: x.day)
df['month'] = df['timestamp_dt'].apply(lambda x: x.month)
df['hour'] = df['timestamp_dt'].apply(lambda x: x.hour)
df['minute'] = df['timestamp_dt'].apply(lambda x: x.minute)

df_test['weekday'] = df_test['timestamp_dt'].apply(lambda x: x.weekday())
df_test['day'] = df_test['timestamp_dt'].apply(lambda x: x.day)
df_test['month'] = df_test['timestamp_dt'].apply(lambda x: x.month)
df_test['hour'] = df_test['timestamp_dt'].apply(lambda x: x.hour)
df_test['minute'] = df_test['timestamp_dt'].apply(lambda x: x.minute)

In [64]:
groupby_df_test["weekday"] = df_test.groupby("unique_id",dropna=False)["weekday"].agg(lambda x:x.value_counts().index[0])
groupby_df_test["day"] = df_test.groupby("unique_id",dropna=False)["day"].agg(lambda x:x.value_counts().index[0])
groupby_df_test["month"] = df_test.groupby("unique_id",dropna=False)["month"].agg(lambda x:x.value_counts().index[0])
groupby_df_test["hour"] = df_test.groupby("unique_id",dropna=False)["hour"].agg(lambda x:x.value_counts().index[0])
groupby_df_test["minute"] = df_test.groupby("unique_id",dropna=False)["minute"].agg(lambda x:x.value_counts().index[0])

In [65]:
groupby_df["weekday"] = df.groupby("unique_id",dropna=False)["weekday"].agg(lambda x:x.value_counts().index[0])
groupby_df["day"] = df.groupby("unique_id",dropna=False)["day"].agg(lambda x:x.value_counts().index[0])
groupby_df["month"] = df.groupby("unique_id",dropna=False)["month"].agg(lambda x:x.value_counts().index[0])
groupby_df["hour"] = df.groupby("unique_id",dropna=False)["hour"].agg(lambda x:x.value_counts().index[0])
groupby_df["minute"] = df.groupby("unique_id",dropna=False)["minute"].agg(lambda x:x.value_counts().index[0])

In [66]:
#Required libraries
import lightgbm as lgb
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.datasets import make_blobs
from sklearn.model_selection import RepeatedStratifiedKFold,StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [67]:
X = groupby_df.drop(columns = ["gender"])
X_test = groupby_df_test

In [68]:
groupby_df_merged = pd.concat([groupby_df,groupby_df_test])
groupby_df_merged = groupby_df_merged.drop(columns = ["gender"])

In [69]:
X_merged = groupby_df_merged.copy()

In [70]:
freqencies = X_merged["contentid"].value_counts(sort=False,normalize = False)
idx = freqencies[freqencies < np.quantile(freqencies,0.995)].index
X_merged["contentid"] = X_merged["contentid"].replace(idx, 'rare_content')

In [71]:
freqencies = X_merged["product_name"].value_counts(sort=False,normalize = False)
idx = freqencies[freqencies < np.quantile(freqencies,0.99)].index
X_merged["product_name"] = X_merged["product_name"].replace(idx, 'rare_pname')

In [72]:
freqencies = X_merged["brand_id"].value_counts(sort=False,normalize = False)
idx = freqencies[freqencies < np.quantile(freqencies,0.95)].index
X_merged["brand_id"] = X_merged["brand_id"].replace(idx, 'rare_bid')

In [73]:
freqencies = X_merged["category_id"].value_counts(sort=False,normalize = False)
idx = freqencies[freqencies < np.quantile(freqencies,0.90)].index
X_merged["category_id"] = X_merged["category_id"].replace(idx, 'rare_categoryid')

In [74]:
freqencies = X_merged["Level2_Category_Id"].value_counts(sort=False,normalize = False)
idx = freqencies[freqencies < np.quantile(freqencies,0.50)].index
X_merged["Level2_Category_Id"] = X_merged["Level2_Category_Id"].replace(idx, 'rare_category2id')

In [75]:
freqencies = X_merged["Level3_Category_Id"].value_counts(sort=False,normalize = False)
idx = freqencies[freqencies < np.quantile(freqencies,0.75)].index
X_merged["Level3_Category_Id"] = X_merged["Level3_Category_Id"].replace(idx, 'rare_category3id')

In [76]:
X_merged[["user_action","contentid","product_name","brand_id","product_gender","businessunit","category_id","Level1_Category_Id","Level2_Category_Id",
  "Level3_Category_Id"]] = X_merged[["user_action","contentid","product_name","brand_id","product_gender","businessunit","category_id","Level1_Category_Id","Level2_Category_Id",
  "Level3_Category_Id"]].astype("category")

In [77]:
X_merged = pd.concat([X_merged,pd.get_dummies(X_merged["user_action"],prefix = "ua")],axis = 1)
X_merged = pd.concat([X_merged,pd.get_dummies(X_merged["product_gender"],prefix = "pg")],axis = 1)
X_merged = pd.concat([X_merged,pd.get_dummies(X_merged["businessunit"],prefix = "b")],axis = 1)
X_merged = pd.concat([X_merged,pd.get_dummies(X_merged["Level1_Category_Id"],prefix = "l")],axis = 1)
X_merged = pd.concat([X_merged,pd.get_dummies(X_merged["contentid"],prefix = "ci")],axis = 1)
X_merged = pd.concat([X_merged,pd.get_dummies(X_merged["product_name"],prefix = "pn")],axis = 1)
X_merged = pd.concat([X_merged,pd.get_dummies(X_merged["brand_id"],prefix = "bid")],axis = 1)
X_merged = pd.concat([X_merged,pd.get_dummies(X_merged["category_id"],prefix = "cid")],axis = 1)
X_merged = pd.concat([X_merged,pd.get_dummies(X_merged["Level2_Category_Id"],prefix = "c2id")],axis = 1)
X_merged = pd.concat([X_merged,pd.get_dummies(X_merged["Level3_Category_Id"],prefix = "c3id")],axis = 1)

In [78]:
len(X_merged.columns)

618

In [79]:
X_merged = X_merged.drop(columns = ["user_action","product_gender","businessunit","category_id","Level2_Category_Id"
                                    ,"Level3_Category_Id","Level1_Category_Id","contentid","product_name","brand_id"])

In [80]:
X = X_merged.loc[groupby_df.index]
X_test = X_merged.loc[groupby_df_test.index]

In [81]:
y = groupby_df["gender"]

In [83]:
y.loc[y=="F"] = 1
y.loc[y=="M"] = 0
y = y.astype("int64")

In [86]:
X["sellingprice"] = X["sellingprice"].fillna(X["sellingprice"].mean())

In [87]:
from sklearn.metrics import make_scorer
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import roc_auc_score

def pe_score(y_true, y_pred):
    pe1 = balanced_accuracy_score(y_true, y_pred)
    pe2 = roc_auc_score(y_true, y_pred)
    return (pe1+pe2)/2

pe_error = make_scorer(pe_score)

In [42]:
len(X.columns)

608

In [43]:
# Number of trees in random forest
n_estimators = [1000]
# Number of features to consider at every split
max_features = [256]
# Maximum number of levels in tree
max_depth = [110]
# Minimum number of samples required to split a node
min_samples_split = [10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [2]
# Method of selecting samples for training each tree
bootstrap = [True,False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [1000], 'max_features': [256], 'max_depth': [110], 'min_samples_split': [10], 'min_samples_leaf': [2], 'bootstrap': [True, False]}

In [88]:
from sklearn.preprocessing import StandardScaler
scaled_X = StandardScaler().fit_transform(X)

In [89]:
scaled_X = pd.DataFrame(scaled_X,columns = X.columns)

In [95]:
from sklearn.decomposition import PCA
pca_x = PCA(n_components=25)
principalComponents_X = pca_x.fit_transform(scaled_X)
sum(pca_x.explained_variance_)
pca_x.explained_variance_
principalComponents_X = pd.DataFrame(principalComponents_X)

In [96]:
sum(pca_x.explained_variance_)

98.58826152783584

In [97]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestClassifier()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = GridSearchCV(estimator = rf, param_grid = random_grid,scoring = pe_error
                               , cv = 3, verbose=100, n_jobs = 4)
# Fit the random search model
rf_random.fit(X, y)

Fitting 3 folds for each of 2 candidates, totalling 6 fits

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=4,
             param_grid={'bootstrap': [True, False], 'max_depth': [110],
                         'max_features': [256], 'min_samples_leaf': [2],
                         'min_samples_split': [10], 'n_estimators': [1000]},
             scoring=make_scorer(pe_score), verbose=100)

In [98]:
rf_random.best_estimator_.feature_importances_

rf_parameters = pd.DataFrame(rf_random.best_estimator_.feature_importances_,columns = ["feature_importance"],index = X.columns)
rf_parameters.sort_values(by = "feature_importance",ascending=False).head(20)

                       feature_importance
pg_Kadın                         0.120736
sellingprice                     0.111189
pg_Erkek                         0.072911
minute                           0.066133
day                              0.058044
hour                             0.054722
weekday                          0.032958
l_1071.0                         0.030532
l_758.0                          0.030329
bid_40.0                         0.029004
l_522.0                          0.021900
pg_Unisex                        0.021468
bid_rare_bid                     0.013235
month                            0.011720
ua_visit                         0.009314
ua_search                        0.008874
l_1219.0                         0.008334
ua_favorite                      0.007928
c3id_rare_category3id            0.007579
cid_rare_categoryid              0.006955

In [101]:
cv_results_decision_tree = pd.concat([pd.DataFrame(rf_random.cv_results_["params"])
           ,pd.DataFrame(rf_random.cv_results_["mean_test_score"]
                         , columns=["(BAR + AUC)/2"])],axis=1)
cv_results_decision_tree.sort_values(by = "(BAR + AUC)/2",ascending=False).head(20)

,bootstrap,max_depth,max_features,min_samples_leaf,min_samples_split,n_estimators,(BAR + AUC)/2
0,True,110,256,2,10,1000,0.720601
1,False,110,256,2,10,1000,0.704815

In [102]:
# Number of trees in random forest
n_estimators = [1000]
# Number of features to consider at every split
max_features = [4,8,16]
# Maximum number of levels in tree
max_depth = [110]
# Minimum number of samples required to split a node
min_samples_split = [10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [2]
# Method of selecting samples for training each tree
bootstrap = [True,False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [1000], 'max_features': [4, 8, 16], 'max_depth': [110], 'min_samples_split': [10], 'min_samples_leaf': [2], 'bootstrap': [True, False]}

In [103]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestClassifier()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = GridSearchCV(estimator = rf, param_grid = random_grid,scoring = pe_error
                               , cv = 3, verbose=100, n_jobs = 4)
# Fit the random search model
rf_random.fit(principalComponents_X, y)

Fitting 3 folds for each of 6 candidates, totalling 18 fits

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=4,
             param_grid={'bootstrap': [True, False], 'max_depth': [110],
                         'max_features': [4, 8, 16], 'min_samples_leaf': [2],
                         'min_samples_split': [10], 'n_estimators': [1000]},
             scoring=make_scorer(pe_score), verbose=100)

In [104]:
cv_results_decision_tree = pd.concat([pd.DataFrame(rf_random.cv_results_["params"])
           ,pd.DataFrame(rf_random.cv_results_["mean_test_score"]
                         , columns=["(BAR + AUC)/2"])],axis=1)
cv_results_decision_tree.sort_values(by = "(BAR + AUC)/2",ascending=False).head(20)

,bootstrap,max_depth,max_features,min_samples_leaf,min_samples_split,n_estimators,(BAR + AUC)/2
2,True,110,16,2,10,1000,0.698124
1,True,110,8,2,10,1000,0.693060
0,True,110,4,2,10,1000,0.691760
4,False,110,8,2,10,1000,0.685567
3,False,110,4,2,10,1000,0.682421
5,False,110,16,2,10,1000,0.673618

In [105]:
param_grid = {'C': [0.1, 1, 10, 100, 1000],
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
              'kernel': ['rbf','sigmoid']}
 
grid = GridSearchCV(SVC(), param_grid, refit = False,cv = 3 ,verbose = 3,scoring = pe_error,n_jobs = 4)
 
# fitting the model for grid search
grid.fit(X, y)

Fitting 3 folds for each of 50 candidates, totalling 150 fits

GridSearchCV(cv=3, estimator=SVC(), n_jobs=4,
             param_grid={'C': [0.1, 1, 10, 100, 1000],
                         'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf', 'sigmoid']},
             refit=False, scoring=make_scorer(pe_score), verbose=3)

In [106]:
grid_results_decision_tree = pd.concat([pd.DataFrame(grid.cv_results_["params"])
           ,pd.DataFrame(grid.cv_results_["mean_test_score"]
                         , columns=["(BAR + AUC)/2"])],axis=1)
grid_results_decision_tree.sort_values(by = "(BAR + AUC)/2",ascending=False).head(20)

         C   gamma   kernel  (BAR + AUC)/2
48  1000.0  0.0001      rbf       0.679659
38   100.0  0.0001      rbf       0.654121
36   100.0  0.0010      rbf       0.629212
46  1000.0  0.0010      rbf       0.619302
26    10.0  0.0010      rbf       0.571676
16     1.0  0.0010      rbf       0.540615
28    10.0  0.0001      rbf       0.540137
18     1.0  0.0001      rbf       0.531551
44  1000.0  0.0100      rbf       0.529910
34   100.0  0.0100      rbf       0.529910
24    10.0  0.0100      rbf       0.528458
8      0.1  0.0001      rbf       0.525606
14     1.0  0.0100      rbf       0.520739
47  1000.0  0.0010  sigmoid       0.508431
37   100.0  0.0010  sigmoid       0.507685
27    10.0  0.0010  sigmoid       0.507515
45  1000.0  0.0100  sigmoid       0.506477
17     1.0  0.0010  sigmoid       0.502836
22    10.0  0.1000      rbf       0.500488
32   100.0  0.1000      rbf       0.500488

In [107]:
param_grid = {'C': [0.1, 1, 10, 100, 1000],
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
              'kernel': ['rbf','sigmoid']}
 
grid = GridSearchCV(SVC(), param_grid, refit = False,cv = 3 ,verbose = 3,scoring = pe_error,n_jobs = 4)
 
# fitting the model for grid search
grid.fit(principalComponents_X, y)

Fitting 3 folds for each of 50 candidates, totalling 150 fits

GridSearchCV(cv=3, estimator=SVC(), n_jobs=4,
             param_grid={'C': [0.1, 1, 10, 100, 1000],
                         'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf', 'sigmoid']},
             refit=False, scoring=make_scorer(pe_score), verbose=3)

In [108]:
grid_results_decision_tree = pd.concat([pd.DataFrame(grid.cv_results_["params"])
           ,pd.DataFrame(grid.cv_results_["mean_test_score"]
                         , columns=["(BAR + AUC)/2"])],axis=1)
grid_results_decision_tree.sort_values(by = "(BAR + AUC)/2",ascending=False).head(20)

         C   gamma   kernel  (BAR + AUC)/2
46  1000.0  0.0010      rbf       0.713908
24    10.0  0.0100      rbf       0.712123
34   100.0  0.0100      rbf       0.707790
36   100.0  0.0010      rbf       0.699035
48  1000.0  0.0001      rbf       0.687015
14     1.0  0.0100      rbf       0.686271
26    10.0  0.0010      rbf       0.684232
44  1000.0  0.0100      rbf       0.682469
12     1.0  0.1000      rbf       0.681416
22    10.0  0.1000      rbf       0.674920
38   100.0  0.0001      rbf       0.652057
37   100.0  0.0010  sigmoid       0.649666
32   100.0  0.1000      rbf       0.645846
49  1000.0  0.0001  sigmoid       0.630401
39   100.0  0.0001  sigmoid       0.629927
16     1.0  0.0010      rbf       0.629545
4      0.1  0.0100      rbf       0.623539
27    10.0  0.0010  sigmoid       0.622453
47  1000.0  0.0010  sigmoid       0.618830
25    10.0  0.0100  sigmoid       0.618681

In [90]:
prediction = rf_random.predict_proba(X_test)[:,1]
np.savetxt("predictions5.txt",[prediction],delimiter=',',fmt = '%.9f')

In [91]:
prediction

array([0.94647997, 0.99348632, 0.95822533, ..., 0.62934487, 0.66792591,
       0.4218335 ])