In [1]:
##YAPILABİLECEKLER

#Missing valueların bulunduğu kullanıcıların missing value olmayan başka satırları varsa
#missing value satırları droplanabilir. (Amaç test setindeki tüm satırları tahmin etmek
#değil, her bir unique kullanıcı için cinsiyet tahmin etmek) (OLMADI)

#Kategorik değişkenler, o kategoriden kaç tane işlem yapılmış tarzında yeni değişkenlere
#dönüştürülüp kategorik değişkenler droplanabilir.

#---------------------

# WE CAN USE TIMESTAMP AND ACTION VALUES TO IMPUTE MISSING PRODUCT-RELATED VALUES, then IMPUTE sellingprice with non-missing
# columns. Lastly, we can impute product_gender_column using all the other values.

In [2]:
##########

In [3]:
# NOT: TEST DATASINDAKİ MISSING VALUELARIN NASIL ELE ALINMASI GEREKTIGINI COZ.

# COMBINE THE TRAIN AND TEST, RARE ENCODE, THEN SPLIT

In [4]:
###################

In [5]:
# YAPILMASI GEREKENLER:
# 1. Missing valueları ne yapcağına karar ver.
# 2. Datadaki kategorikleri dummy variable'a çevir.

In [6]:
#################

In [7]:
import pandas as pd
import numpy as np
import missingno as msno
from datetime import datetime

from sklearn.impute import KNNImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder

import lightgbm as lgb

In [8]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [9]:
df = train.copy()
df_test = test.copy()
df.drop_duplicates(inplace=True) # Train set has a lot of duplicates. Since timestamp with split seconds precision can't
# be same for different users and different actions, we drop all the duplicates.

In [98]:
test_ids = test['unique_id']

In [10]:
len(df)

2077356

In [11]:
df['unique_id'].isin(df_test['unique_id'].unique()).any() # Train and Test sets have different unique_id values. (Checked)

False

In [12]:
df.head()# unique_id = customer_id

,time_stamp,contentid,user_action,sellingprice,product_name,brand_id,brand_name,businessunit,product_gender,category_id,Level1_Category_Id,Level1_Category_Name,Level2_Category_Id,Level2_Category_Name,Level3_Category_Id,Level3_Category_Name,gender,unique_id,type
0,2020-12-02T22:26:14.023Z,39918893.0,favorite,3099.0,PerfectCare 600 EW6F449ST A+++ 9 KG 1400 Devir...,8511.0,Electrolux,Beyaz Eşya,Unisex,1272.0,1071.0,Elektronik,1212.0,Beyaz Eşya,1272.0,Çamaşır Makinesi,F,425,train
1,2020-12-08T23:15:04.603Z,3558544.0,favorite,3079.0,WW90J5475FW A+++ 1400 Devir 9 kg Çamaşır Makinesi,3228.0,Samsung,Beyaz Eşya,NaN,1272.0,1071.0,Elektronik,1212.0,Beyaz Eşya,1272.0,Çamaşır Makinesi,F,425,train
2,2020-12-05T16:19:01.157Z,31292729.0,favorite,3999.0,KM 9711 A++ 9 kg Çamaşır Kurutma Makinesi,10989.0,Vestel,Beyaz Eşya,Unisex,1276.0,1071.0,Elektronik,1212.0,Beyaz Eşya,1276.0,Kurutma Makinesi,F,425,train
3,2020-12-05T16:28:00Z,6363103.0,visit,2544.0,CMI 9710 A+++ 1000 Devir 9 kg Çamaşır Makinesi,10989.0,Vestel,Beyaz Eşya,NaN,1272.0,1071.0,Elektronik,1212.0,Beyaz Eşya,1272.0,Çamaşır Makinesi,F,425,train
4,2020-12-02T22:26:59Z,39918893.0,visit,3099.0,PerfectCare 600 EW6F449ST A+++ 9 KG 1400 Devir...,8511.0,Electrolux,Beyaz Eşya,Unisex,1272.0,1071.0,Elektronik,1212.0,Beyaz Eşya,1272.0,Çamaşır Makinesi,F,425,train

In [13]:
a = df.groupby('brand_id')['brand_name'].nunique() # 4 tane id 1den fazla brand_name ile eşleşmekte.
a[a>1]

brand_id
34614.0     2
110447.0    2
966197.0    2
998446.0    2
Name: brand_name, dtype: int64

In [14]:
a = df.groupby('brand_name')['brand_id'].nunique() # Brandname başına düşen brand_id sayısı 1.
a[a>1]

Series([], Name: brand_id, dtype: int64)

In [15]:
df['brand_name'].nunique() #33332
df['brand_id'].nunique() #33328

33328

In [16]:
# Brandname değişkeni daha eşsiz olduğu için brand_id değişkeni droplanabilir.

In [17]:
(df['brand_name'].isnull() == df['brand_id'].isnull()).all() # brand_name ve brand_id NA değerleri
# aynı rowlarda.

True

In [18]:
len(df['contentid'].value_counts()) # Çok fazla sayıda kategorisi olan bir değişken. Her ürünün ayrı
# id'si olduğu için bu normal. Bu kadar çok kategori ile iyi sonuç almak mümkün olmadığı için ve 
# mümkün olsa bile genelleme amacına hizmet etmeyeceği için bu feature datadan çıkarılmalıdır.

482796

In [19]:
a = df.groupby('Level1_Category_Id')['Level1_Category_Name'].nunique()
a[a>1] # Her bir Category ID'ye 1 Category Name düşüyor. Dolayısıyla Level1_Category_Name
# çıkarılabilir.

Series([], Name: Level1_Category_Name, dtype: int64)

In [20]:
a = df.groupby('Level2_Category_Id')['Level2_Category_Name'].nunique()
a[a>1] # Her bir Category ID'ye 1 Category Name düşüyor. Dolayısıyla Level2_Category_Name
# çıkarılabilir.

Series([], Name: Level2_Category_Name, dtype: int64)

In [21]:
a = df.groupby('Level3_Category_Id')['Level3_Category_Name'].nunique()
a[a>1] # Her bir Category ID'ye 1 Category Name düşüyor. Dolayısıyla Level3_Category_Name
# çıkarılabilir.

Series([], Name: Level3_Category_Name, dtype: int64)

In [22]:
df[['category_id', 'Level3_Category_Id']] # category_id ve Level3_Category_Id aynı şeyler gibi
# gözükmekte.

         category_id  Level3_Category_Id
0             1272.0              1272.0
1             1272.0              1272.0
2             1276.0              1276.0
3             1272.0              1272.0
4             1272.0              1272.0
...              ...                 ...
5493263        864.0               864.0
5493264       1186.0              1186.0
5493265        864.0               864.0
5493266        975.0               975.0
5493267        975.0               975.0

[2077356 rows x 2 columns]

In [23]:
a = df.groupby('Level3_Category_Id')['category_id'].nunique()
a[a>1] # Level3_Category_Id başına düşen category_id sayısının birden fazla olduğu durumlar bulunmakta.

Level3_Category_Id
397.0      6
399.0      7
400.0      6
401.0      6
469.0      2
          ..
4540.0    13
4569.0    11
4588.0     2
4589.0    39
4591.0    11
Name: category_id, Length: 166, dtype: int64

In [24]:
a = df.groupby('category_id')['Level3_Category_Id'].nunique()
a[a>1] # category id başına düşen Level_3_Category_Id sayısı 1.

Series([], Name: Level3_Category_Id, dtype: int64)

In [25]:
df['category_id'].nunique() #2240
df['Level3_Category_Id'].nunique() #739

739

In [26]:
(df['category_id'].isna() == df['Level3_Category_Id'].isna()).all() # NA oldukları rowlar aynı.
# Dolayısıyla category_id değeri daha eşsiz olduğu için ve aynı şeylere karşılık geliyor gibi
# gözüktükleri için (hatta category_id daha detaylı) Level3_Category_Id değeri droplanabilir.

True

In [27]:
# Drop the columns that we decided to drop before.
# Type column is not necessary at this point, therefore we can drop it as well.

df = train.drop(['contentid', 'Level1_Category_Name', 'Level2_Category_Name', 'Level3_Category_Name',
        'Level3_Category_Id', 'brand_id', 'type'], axis=1)
df.drop_duplicates(inplace=True)
df_test = test.drop(['contentid', 'Level1_Category_Name', 'Level2_Category_Name', 'Level3_Category_Name',
        'Level3_Category_Id', 'brand_id', 'type'], axis=1)
df_test.drop('gender', inplace=True, axis=1) # Gender column is dropped because it is the target feature and full of NA's.

In [28]:
df.head()

,time_stamp,user_action,sellingprice,product_name,brand_name,businessunit,product_gender,category_id,Level1_Category_Id,Level2_Category_Id,gender,unique_id
0,2020-12-02T22:26:14.023Z,favorite,3099.0,PerfectCare 600 EW6F449ST A+++ 9 KG 1400 Devir...,Electrolux,Beyaz Eşya,Unisex,1272.0,1071.0,1212.0,F,425
1,2020-12-08T23:15:04.603Z,favorite,3079.0,WW90J5475FW A+++ 1400 Devir 9 kg Çamaşır Makinesi,Samsung,Beyaz Eşya,NaN,1272.0,1071.0,1212.0,F,425
2,2020-12-05T16:19:01.157Z,favorite,3999.0,KM 9711 A++ 9 kg Çamaşır Kurutma Makinesi,Vestel,Beyaz Eşya,Unisex,1276.0,1071.0,1212.0,F,425
3,2020-12-05T16:28:00Z,visit,2544.0,CMI 9710 A+++ 1000 Devir 9 kg Çamaşır Makinesi,Vestel,Beyaz Eşya,NaN,1272.0,1071.0,1212.0,F,425
4,2020-12-02T22:26:59Z,visit,3099.0,PerfectCare 600 EW6F449ST A+++ 9 KG 1400 Devir...,Electrolux,Beyaz Eşya,Unisex,1272.0,1071.0,1212.0,F,425

In [29]:
df['user_action'].value_counts()

visit       1027149
search       771374
favorite     156204
basket        99102
order         23299
Name: user_action, dtype: int64

In [30]:
df.isnull().any()

time_stamp            False
user_action           False
sellingprice           True
product_name           True
brand_name             True
businessunit           True
product_gender         True
category_id            True
Level1_Category_Id     True
Level2_Category_Id     True
gender                False
unique_id             False
dtype: bool

In [31]:
len(df) #2077128

2077128

In [32]:
df.isnull().sum() # There are a lot of missing product_gender values. It is missing in roughly 12% of the data. We can't
# drop its missing values, because it has missing values in the test data as well. We can impute it, or we can drop
# the column. (2 Options: Impute gender and/or Drop Column). Another option is to drop all the missing values in both data
# sets and hope that we don't lose any unique ID. (Extra Options: Drop missing values in both sets if possible)

time_stamp                 0
user_action                0
sellingprice           32012
product_name            2184
brand_name              2184
businessunit            2184
product_gender        234567
category_id             2184
Level1_Category_Id      2184
Level2_Category_Id      2184
gender                     0
unique_id                  0
dtype: int64

In [33]:
df_test.isnull().sum()

time_stamp                 0
user_action                0
sellingprice           41368
product_name            2177
brand_name              2177
businessunit            2177
product_gender        275570
category_id             2177
Level1_Category_Id      2177
Level2_Category_Id      2177
unique_id                  0
dtype: int64

In [34]:
s = df_test.notnull().all(axis=1)

In [35]:
notnull = s[s].index

In [36]:
len(df_test.unique_id.unique())

2380

In [37]:
len(df_test.loc[notnull,:].unique_id.unique()) # There are 2380-2331 = 49 unique_id values that has at least 1 missing value
# in their features, therefore we can't directly drop rows with missing values and apply majority voting.

2331

In [38]:
df[df['product_name'].isnull()].notnull().any() #product_name, brand_name, business_unit, category_id, Level1_Category_Id
# and Level2_Category_Id missing values are in the same rows. There are 2184 of these rows.

time_stamp             True
user_action            True
sellingprice           True
product_name          False
brand_name            False
businessunit          False
product_gender        False
category_id           False
Level1_Category_Id    False
Level2_Category_Id    False
gender                 True
unique_id              True
dtype: bool

In [39]:
df[~(df['product_name'].notnull())]

,time_stamp,user_action,sellingprice,product_name,brand_name,businessunit,product_gender,category_id,Level1_Category_Id,Level2_Category_Id,gender,unique_id
10182,2020-11-27T06:40:58Z,visit,65.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,1983
17988,2020-10-21T21:52:56Z,visit,563.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,737
17989,2020-10-21T21:51:38Z,visit,563.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,737
18724,2020-10-22T19:36:40Z,visit,563.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,737
20323,2020-10-21T21:52:00Z,visit,563.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,737
...,...,...,...,...,...,...,...,...,...,...,...,...
5483497,2020-11-28T13:36:52Z,search,559.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,5457
5484856,2020-11-27T23:51:26Z,visit,99.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,3071
5487463,2020-11-29T10:16:38Z,basket,109.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,3354
5487465,2020-11-29T10:16:25Z,visit,109.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,3354
5487469,2020-11-29T10:19:55Z,basket,109.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,3354

In [40]:
df[~(df['product_name'].notnull())]['user_action'].value_counts()

visit       1100
search       826
basket       120
favorite     102
order         36
Name: user_action, dtype: int64

In [41]:
df[(df['product_name'].notnull())]['user_action'].value_counts() # Missing values are not due to the nature of any action.

visit       1026049
search       770548
favorite     156102
basket        98982
order         23263
Name: user_action, dtype: int64

In [42]:
df[~(df['product_name'].notnull())]['sellingprice'].isnull().any() # True
df[~(df['product_name'].notnull())]['product_gender'].isnull().any() # True
# Both sellingprice and product_gender missing values overlap with product-related columns' missing values at some rows.
# Therefore, we can't use these values to impute missing values of each other.

True

In [43]:
# WE CAN USE TIMESTAMP AND ACTION VALUES TO IMPUTE MISSING PRODUCT-RELATED VALUES, then IMPUTE sellingprice with non-missing
# columns. Lastly, we can impute product_gender_column using all the other values.

In [44]:
#df = df[df['product_name'].notnull()]
#df.isnull().any()
# Removes product-related column NA values, doesn't work for this dataset (See top of the script)

In [45]:
# First, lets try dropping the missing values 

# df.dropna(inplace=True)
# df_test.dropna(inplace=True) # ( This can't be done because we can't drop test data rows.)

In [46]:
# Convert TZ timestamp to datetime64 object

df['timestamp_dt'] = df.apply(lambda x: datetime.fromisoformat(x['time_stamp'].strip('Z')), axis=1)
df_test['timestamp_dt'] = df_test.apply(lambda x: datetime.fromisoformat(x['time_stamp'].strip('Z')), axis=1)

df.drop('time_stamp', axis=1, inplace=True)
df_test.drop('time_stamp', axis=1, inplace=True)

In [47]:
df['timestamp_dt'].min()  # 2020-10-14
df['timestamp_dt'].max()  # 2020-12-09

df_test['timestamp_dt'].min()  # 2020-10-14
df_test['timestamp_dt'].max()  # 2020-12-09
# Data is collected between October 14 and December 9, 2020

Timestamp('2020-12-09 13:29:58')

In [48]:
# I will be creating new variables month, day, day_name hour and minute. I believe that minute and day will not be 
# significant but we can decide it later.

df['weekday'] = df['timestamp_dt'].apply(lambda x: x.weekday())
#df['day'] = df['timestamp_dt'].apply(lambda x: x.day)    - Computationally expensive, creates extra 30 rows.
df['month'] = df['timestamp_dt'].apply(lambda x: x.month)
df['hour'] = df['timestamp_dt'].apply(lambda x: x.hour)
#df['minute'] = df['timestamp_dt'].apply(lambda x: x.minute) - Computationally expensive, probably unimportant.

df.drop(['timestamp_dt', 'unique_id'], axis=1, inplace=True) # Not needed anymore

df_test['weekday'] = df_test['timestamp_dt'].apply(lambda x: x.weekday())
#df_test['day'] = df_test['timestamp_dt'].apply(lambda x: x.day)
df_test['month'] = df_test['timestamp_dt'].apply(lambda x: x.month)
df_test['hour'] = df_test['timestamp_dt'].apply(lambda x: x.hour)
#df_test['minute'] = df_test['timestamp_dt'].apply(lambda x: x.minute)

df_test.drop(['timestamp_dt', 'unique_id'], axis=1, inplace=True) # Not needed anymore

In [49]:
df.head()

,user_action,sellingprice,product_name,brand_name,businessunit,product_gender,category_id,Level1_Category_Id,Level2_Category_Id,gender,weekday,month,hour
0,favorite,3099.0,PerfectCare 600 EW6F449ST A+++ 9 KG 1400 Devir...,Electrolux,Beyaz Eşya,Unisex,1272.0,1071.0,1212.0,F,2,12,22
1,favorite,3079.0,WW90J5475FW A+++ 1400 Devir 9 kg Çamaşır Makinesi,Samsung,Beyaz Eşya,NaN,1272.0,1071.0,1212.0,F,1,12,23
2,favorite,3999.0,KM 9711 A++ 9 kg Çamaşır Kurutma Makinesi,Vestel,Beyaz Eşya,Unisex,1276.0,1071.0,1212.0,F,5,12,16
3,visit,2544.0,CMI 9710 A+++ 1000 Devir 9 kg Çamaşır Makinesi,Vestel,Beyaz Eşya,NaN,1272.0,1071.0,1212.0,F,5,12,16
4,visit,3099.0,PerfectCare 600 EW6F449ST A+++ 9 KG 1400 Devir...,Electrolux,Beyaz Eşya,Unisex,1272.0,1071.0,1212.0,F,2,12,22

In [50]:
df['category_id'] = df['category_id'].astype('object')
df['Level1_Category_Id'] = df['Level1_Category_Id'].astype('object')
df['Level2_Category_Id'] = df['Level2_Category_Id'].astype('object')
df['weekday'] = df['weekday'].astype('object')
df['month'] = df['month'].astype('object')
df['hour'] = df['hour'].astype('object')

sel_price_tr = df['sellingprice']
sel_price_te = df_test['sellingprice']

df_gender = df['gender']

df = df.drop(['sellingprice', 'gender'], axis=1)
df_test = df_test.drop('sellingprice', axis=1)


df.dtypes

user_action           object
product_name          object
brand_name            object
businessunit          object
product_gender        object
category_id           object
Level1_Category_Id    object
Level2_Category_Id    object
weekday               object
month                 object
hour                  object
dtype: object

In [51]:
# Some references

# https://stats.stackexchange.com/questions/440566/classification-model-with-multiple-records-per-user?rq=1
# https://lightgbm.readthedocs.io/en/latest/Advanced-Topics.html
# https://catboost.ai/en/docs/concepts/python-quickstart

In [52]:
# Need to do Rare Encoding before Label Encoding

In [53]:
a = df.nunique()
b = df_test.nunique()

In [54]:
print("Unique Values".rjust(34))
print("-------------".rjust(34))
print("train".rjust(26), "test".rjust(6))
print("-------------".rjust(34))
for i in range(len(a)):
    print(a.index[i].ljust(20), str(a[i]).ljust(6), b[i])

                     Unique Values
                     -------------
                     train   test
                     -------------
user_action          5      5
product_name         441470 239085
brand_name           33332  23943
businessunit         83     83
product_gender       3      3
category_id          2240   2022
Level1_Category_Id   10     10
Level2_Category_Id   95     94
weekday              7      7
month                3      3
hour                 24     24

In [55]:
# Some categorical features have different unique values in train and test. Therefore, we should label the ones that
# are not in the intersection as "Others".

In [56]:
product_name_outliers = set(df['product_name'].dropna()).union(set(df_test['product_name'].dropna()))-\
set(df['product_name'].dropna()).intersection(set(df_test['product_name'].dropna()))
len(product_name_outliers)
# Product name has around 427000 different values. This category is probably useless, considering that only
# around 250000 of the values are common in both data sets.

427659

In [57]:
brand_name_outliers = set(df['brand_name'].dropna()).union(set(df_test['brand_name'].dropna()))-\
set(df['brand_name'].dropna()).intersection(set(df_test['brand_name'].dropna()))
len(brand_name_outliers)
# brand_name_outliers have 17627 different values. This also looks like it will not be useful. We will see.

17627

In [58]:
category_id_outliers = set(df['category_id'].dropna()).union(set(df_test['category_id'].dropna()))-\
set(df['category_id'].dropna()).intersection(set(df_test['category_id'].dropna()))
len(category_id_outliers)
# category_id_outliers have different values

376

In [59]:
level2_outliers = set(df['Level2_Category_Id'].dropna()).union(set(df_test['Level2_Category_Id'].dropna()))-\
set(df['Level2_Category_Id'].dropna()).intersection(set(df_test['Level2_Category_Id'].dropna()))
level2_outliers # Level2 has different levels

{2901.0, 4530.0, 4572.0}

In [60]:
set(df['Level1_Category_Id'].dropna()).union(set(df_test['Level1_Category_Id'].dropna()))-\
set(df['Level1_Category_Id'].dropna()).intersection(set(df_test['Level1_Category_Id'].dropna()))
# Level1 is fine

set()

In [61]:
set(df['businessunit'].dropna()).union(set(df_test['businessunit'].dropna()))-\
set(df['businessunit'].dropna()).intersection(set(df_test['businessunit'].dropna()))
# businessunit is fine

set()

In [62]:
df['type'] = 'train'
df_test['type'] = 'test'
combined_df = pd.concat([df, df_test])

In [63]:
# Replace non-common levels with "Other"

combined_df['product_name'] = combined_df['product_name'].apply(lambda x: "Other" if x in product_name_outliers else x)
combined_df['brand_name'] = combined_df['brand_name'].apply(lambda x: "Other" if x in brand_name_outliers else x)
combined_df['category_id'] = combined_df['category_id'].apply(lambda x: "Other" if x in category_id_outliers else x)
combined_df['Level2_Category_Id'] = combined_df['Level2_Category_Id'].\
apply(lambda x: "Other" if x in level2_outliers else x)

In [64]:
df_withother = combined_df[combined_df['type']=='train']
df_test_withother = combined_df[combined_df['type']=='test']

In [65]:
a = df_withother.nunique()
b = df_test_withother.nunique()

In [66]:
print("Unique Values".rjust(34))
print("-------------".rjust(34))
print("train".rjust(26), "test".rjust(6))
print("-------------".rjust(34))
for i in range(len(a)):
    print(a.index[i].ljust(20), str(a[i]).ljust(6), b[i])

                     Unique Values
                     -------------
                     train   test
                     -------------
user_action          5      5
product_name         126449 126449
brand_name           19825  19825
businessunit         83     83
product_gender       3      3
category_id          1944   1944
Level1_Category_Id   10     10
Level2_Category_Id   94     94
weekday              7      7
month                3      3
hour                 24     24
type                 1      1

In [67]:
def rare_encoder(dataframe, rare_perc):
    temp_df = dataframe.copy()

    rare_columns = [col for col in temp_df.columns if temp_df[col].dtypes == 'O'
                    and (temp_df[col].value_counts() / len(temp_df) < rare_perc).any(axis=None)]

    for var in rare_columns:
        tmp = temp_df[var].value_counts() / len(temp_df)
        rare_labels = tmp[tmp < rare_perc].index
        temp_df[var] = np.where(temp_df[var].isin(rare_labels), 'Rare', temp_df[var])

    return temp_df

In [68]:
# As we see, different levels problem is solved.

In [69]:
# Rare Encoding

#mask_train = df.copy().isnull() # Create a mask to have nan values back after encoding
rare_df = rare_encoder(combined_df, 0.0001)

In [70]:
rare_train = rare_df[rare_df['type']=='train']
rare_test = rare_df[rare_df['type']=='test']
del rare_train['type']
del rare_test['type']

In [71]:
# Check if the categories are same for train and test, after rare encoding
cat_cols = ['product_name','brand_name','businessunit','category_id','Level1_Category_Id','Level2_Category_Id']

for col in cat_cols:
    a = set(rare_train[col].dropna())
    b = set(rare_test[col].dropna())
    print(a==b)

True
True
True
True
True
True

In [72]:
# We encoded the rare values as 'Rare' and train and test sets have the same levels. We are ready to go.

In [73]:
#df['sellingprice']=sel_price_tr
#df_test['sellingprice'] = sel_price_te
rare_train.head(1)

,user_action,product_name,brand_name,businessunit,product_gender,category_id,Level1_Category_Id,Level2_Category_Id,weekday,month,hour
0,favorite,Rare,Rare,Beyaz Eşya,Unisex,1272.0,1071.0,1212.0,2,12,22

In [74]:
rare_train.isnull().any()

user_action           False
product_name           True
brand_name             True
businessunit           True
product_gender         True
category_id            True
Level1_Category_Id     True
Level2_Category_Id     True
weekday               False
month                 False
hour                  False
dtype: bool

In [75]:
a = rare_train['Level1_Category_Id']

In [76]:
mask_train = rare_train.copy().isnull() # Create a mask to have nan values back after encoding
original_train = rare_train.copy()
rare_train.fillna("kalamar", inplace=True) # To deal with a issue due to nan-str not being comparable

mask_test = rare_test.copy().isnull() # Create a mask to have nan values back after encoding
original_test = rare_test.copy()
rare_test.fillna("kalamar", inplace=True) # To deal with a issue due to nan-str not being comparable

cols = ['user_action','weekday','month','hour','product_name','brand_name','businessunit','product_gender',
        'category_id' ,'Level1_Category_Id','Level2_Category_Id']
rare_train[cols] = rare_train[cols].astype('str')
rare_test[cols] = rare_test[cols].astype('str')


encoders = {}

x = 0

for i in rare_train:
    if i!="sellingprice":
        # print(i) #Debugging purposes
        le = LabelEncoder()
        le.fit(rare_train[i])
        encoders[x] = le
        x+=1
        
x = 0
train_data = pd.DataFrame()

for i in rare_train:
    # print(i) # Debugging
    if i!="sellingprice":
        le = encoders[x]
        train_data[i] = le.transform(rare_train[i])
        x+=1


x = 0
test_data = pd.DataFrame()
for i in rare_test:
    #print(i) # Debugging
    if i!="sellingprice":
        le = encoders[x]
        test_data[i] = le.transform(rare_test[i])
        x+=1

/opt/anaconda/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:5177: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
/opt/anaconda/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [77]:
train_data.index = rare_train.index
test_data.index = rare_test.index

final_train = train_data.where(~mask_train, original_train)
final_test = test_data.where(~mask_test, original_test)

In [78]:
# CATBoost

from catboost import CatBoostClassifier, Pool
sell_tr = pd.DataFrame(sel_price_tr, columns=['sellingprice'])
sell_te = pd.DataFrame(sel_price_te, columns=['sellingprice'])

In [79]:
final_final_train = pd.concat([final_train, sel_price_tr], axis=1)
final_final_test = pd.concat([final_test, sel_price_te], axis=1)

In [80]:
cols = ['user_action','weekday','month','hour','product_name','brand_name','businessunit','product_gender',
        'category_id' ,'Level1_Category_Id','Level2_Category_Id']
final_final_train[cols] = final_final_train[cols].astype('str')
final_final_test[cols] = final_final_test[cols].astype('str')

In [81]:
lee = LabelEncoder()
encoded_labels = le.fit_transform(df_gender)

In [82]:
# df_gender
# sell_price_tr
# sell_price_te

train_data = final_final_train
train_label = encoded_labels

train_pool = Pool(train_data, 
                  train_label, 
                  cat_features=cols)
######

test_pool = Pool(final_final_test, 
                  cat_features=cols)

In [83]:
model = CatBoostClassifier(iterations=100, depth=10, learning_rate = 0.01, loss_function='Logloss', verbose=True)

In [85]:
model.fit(train_pool)

0:	learn: 0.6875768	total: 283ms	remaining: 28s
1:	learn: 0.6821242	total: 434ms	remaining: 21.3s
2:	learn: 0.6767727	total: 543ms	remaining: 17.6s
3:	learn: 0.6715391	total: 669ms	remaining: 16s
4:	learn: 0.6663987	total: 813ms	remaining: 15.5s
5:	learn: 0.6613653	total: 932ms	remaining: 14.6s
6:	learn: 0.6564344	total: 1.02s	remaining: 13.5s
7:	learn: 0.6515798	total: 1.15s	remaining: 13.2s
8:	learn: 0.6468143	total: 1.25s	remaining: 12.7s
9:	learn: 0.6421528	total: 1.35s	remaining: 12.2s
10:	learn: 0.6375770	total: 1.47s	remaining: 11.9s
11:	learn: 0.6330797	total: 1.58s	remaining: 11.6s
12:	learn: 0.6286853	total: 1.65s	remaining: 11.1s
13:	learn: 0.6243525	total: 1.78s	remaining: 11s
14:	learn: 0.6201122	total: 1.87s	remaining: 10.6s
15:	learn: 0.6159462	total: 2.04s	remaining: 10.7s
16:	learn: 0.6118568	total: 2.19s	remaining: 10.7s
17:	learn: 0.6078297	total: 2.36s	remaining: 10.7s
18:	learn: 0.6038727	total: 2.54s	remaining: 10.8s
19:	learn: 0.5999803	total: 2.69s	remaining: 10.8s
20:	learn: 0.5961607	total: 2.8s	remaining: 10.6s
21:	learn: 0.5924042	total: 2.9s	remaining: 10.3s
22:	learn: 0.5887132	total: 3.02s	remaining: 10.1s
23:	learn: 0.5850864	total: 3.15s	remaining: 9.99s
24:	learn: 0.5815358	total: 3.27s	remaining: 9.81s
25:	learn: 0.5780286	total: 3.4s	remaining: 9.68s
26:	learn: 0.5745983	total: 3.48s	remaining: 9.41s
27:	learn: 0.5712049	total: 3.6s	remaining: 9.26s
28:	learn: 0.5678934	total: 3.69s	remaining: 9.05s
29:	learn: 0.5646255	total: 3.8s	remaining: 8.86s
30:	learn: 0.5614327	total: 3.9s	remaining: 8.67s
31:	learn: 0.5582741	total: 4.02s	remaining: 8.54s
32:	learn: 0.5551771	total: 4.1s	remaining: 8.33s
33:	learn: 0.5521283	total: 4.2s	remaining: 8.16s
34:	learn: 0.5491256	total: 4.33s	remaining: 8.04s
35:	learn: 0.5461729	total: 4.45s	remaining: 7.92s
36:	learn: 0.5432717	total: 4.54s	remaining: 7.73s
37:	learn: 0.5404123	total: 4.66s	remaining: 7.61s
38:	learn: 0.5376169	total: 4.75s	remaining: 7.44s
39:	learn: 0.5348581	total: 4.89s	remaining: 7.33s
40:	learn: 0.5321597	total: 4.96s	remaining: 7.14s
41:	learn: 0.5294969	total: 5.05s	remaining: 6.98s
42:	learn: 0.5268691	total: 5.15s	remaining: 6.83s
43:	learn: 0.5242787	total: 5.27s	remaining: 6.71s
44:	learn: 0.5217308	total: 5.4s	remaining: 6.59s
45:	learn: 0.5192331	total: 5.52s	remaining: 6.48s
46:	learn: 0.5167839	total: 5.63s	remaining: 6.35s
47:	learn: 0.5143680	total: 5.72s	remaining: 6.2s
48:	learn: 0.5119757	total: 5.85s	remaining: 6.09s
49:	learn: 0.5096345	total: 5.95s	remaining: 5.95s
50:	learn: 0.5073217	total: 6.08s	remaining: 5.84s
51:	learn: 0.5050603	total: 6.16s	remaining: 5.68s
52:	learn: 0.5028242	total: 6.29s	remaining: 5.58s
53:	learn: 0.5006387	total: 6.37s	remaining: 5.43s
54:	learn: 0.4984781	total: 6.48s	remaining: 5.3s
55:	learn: 0.4963534	total: 6.57s	remaining: 5.16s
56:	learn: 0.4942665	total: 6.68s	remaining: 5.04s
57:	learn: 0.4922021	total: 6.8s	remaining: 4.93s
58:	learn: 0.4901730	total: 6.93s	remaining: 4.82s
59:	learn: 0.4881825	total: 7.02s	remaining: 4.68s
60:	learn: 0.4862153	total: 7.13s	remaining: 4.56s
61:	learn: 0.4842732	total: 7.25s	remaining: 4.45s
62:	learn: 0.4823674	total: 7.39s	remaining: 4.34s
63:	learn: 0.4804912	total: 7.54s	remaining: 4.24s
64:	learn: 0.4786418	total: 7.68s	remaining: 4.13s
65:	learn: 0.4768398	total: 7.76s	remaining: 4s
66:	learn: 0.4750371	total: 7.89s	remaining: 3.89s
67:	learn: 0.4732853	total: 7.98s	remaining: 3.76s
68:	learn: 0.4715628	total: 8.07s	remaining: 3.63s
69:	learn: 0.4698569	total: 8.2s	remaining: 3.51s
70:	learn: 0.4681744	total: 8.33s	remaining: 3.4s
71:	learn: 0.4665109	total: 8.46s	remaining: 3.29s
72:	learn: 0.4648755	total: 8.6s	remaining: 3.18s
73:	learn: 0.4632764	total: 8.7s	remaining: 3.06s
74:	learn: 0.4616867	total: 8.83s	remaining: 2.94s
75:	learn: 0.4601251	total: 8.99s	remaining: 2.84s
76:	learn: 0.4586046	total: 9.09s	remaining: 2.71s
77:	learn: 0.4570959	total: 9.2s	remaining: 2.6s
78:	learn: 0.4556015	total: 9.33s	remaining: 2.48s
79:	learn: 0.4541666	total: 9.39s	remaining: 2.35s
80:	learn: 0.4527173	total: 9.55s	remaining: 2.24s
81:	learn: 0.4512890	total: 9.69s	remaining: 2.13s
82:	learn: 0.4498892	total: 9.81s	remaining: 2.01s
83:	learn: 0.4485173	total: 9.91s	remaining: 1.89s
84:	learn: 0.4471570	total: 10s	remaining: 1.77s
85:	learn: 0.4458199	total: 10.2s	remaining: 1.66s
86:	learn: 0.4444984	total: 10.3s	remaining: 1.54s
87:	learn: 0.4432066	total: 10.4s	remaining: 1.42s
88:	learn: 0.4419275	total: 10.5s	remaining: 1.3s
89:	learn: 0.4406657	total: 10.6s	remaining: 1.18s
90:	learn: 0.4394244	total: 10.8s	remaining: 1.06s
91:	learn: 0.4382127	total: 10.9s	remaining: 945ms
92:	learn: 0.4370048	total: 11s	remaining: 828ms
93:	learn: 0.4358163	total: 11.1s	remaining: 711ms
94:	learn: 0.4345486	total: 11.3s	remaining: 594ms
95:	learn: 0.4332959	total: 11.4s	remaining: 476ms
96:	learn: 0.4320624	total: 11.5s	remaining: 357ms
97:	learn: 0.4308535	total: 11.7s	remaining: 239ms
98:	learn: 0.4296553	total: 11.9s	remaining: 120ms
99:	learn: 0.4284766	total: 12s	remaining: 0us

In [86]:
preds = model.predict(test_pool, 'Probability')

In [103]:
expected_id = pd.read_csv('test_ids_in_prediction.csv')

In [106]:
expected_id.head(2)

   unique_id
0          9
1         18

In [136]:
pred_0 = preds[:,0]
pred_1 = preds[:,1]

results_0 = pd.DataFrame({"id":test_ids, "pred":pred_0})
results_1 = pd.DataFrame({"id":test_ids, "pred":pred_1})

In [137]:
array_0 = results_0.groupby('id')['pred'].mean().values
array_1 = results_1.groupby('id')['pred'].mean().values

In [141]:
array_0 = array_0.round(6)
array_1 = array_1.round(6)

In [142]:
array_0 = array_0.astype(str)
array_1 = array_1.astype(str)

In [143]:
final_0 = ", ".join(list(array_0))
final_1 = ", ".join(list(array_1))

In [144]:
with open('0_prob.txt','w') as f:
    f.write(final_0)

In [145]:
with open('1_prob.txt','w') as f:
    f.write(final_1)

In [147]:
final_0

'0.751511, 0.746846, 0.73491, 0.746456, 0.739169, 0.7675, 0.605904, 0.55, 0.73214, 0.748064, 0.577366, 0.502011, 0.737375, 0.760525, 0.737708, 0.736406, 0.605353, 0.516383, 0.744157, 0.732792, 0.774403, 0.712767, 0.728033, 0.724105, 0.749875, 0.756892, 0.767827, 0.760573, 0.751211, 0.715273, 0.755078, 0.721801, 0.766373, 0.722631, 0.766602, 0.74572, 0.653608, 0.703407, 0.759689, 0.729861, 0.726699, 0.716429, 0.758733, 0.665032, 0.747346, 0.729757, 0.74847, 0.674198, 0.757305, 0.642178, 0.554499, 0.767283, 0.679769, 0.509391, 0.636671, 0.560768, 0.712026, 0.724857, 0.728907, 0.74496, 0.716123, 0.64739, 0.487447, 0.707917, 0.765168, 0.705354, 0.757583, 0.690221, 0.69682, 0.729331, 0.755661, 0.755539, 0.737212, 0.76201, 0.714812, 0.724572, 0.674984, 0.743789, 0.771469, 0.746814, 0.634926, 0.704094, 0.697492, 0.561519, 0.753924, 0.749183, 0.699043, 0.759036, 0.753708, 0.713567, 0.736025, 0.719049, 0.707768, 0.741765, 0.654969, 0.748607, 0.752317, 0.721491, 0.605898, 0.730475, 0.705995, 0.738229, 0.734635, 0.736659, 0.685424, 0.676438, 0.651194, 0.601612, 0.708764, 0.666048, 0.738431, 0.753327, 0.724194, 0.727184, 0.69192, 0.706314, 0.684921, 0.750253, 0.750607, 0.742672, 0.746292, 0.750546, 0.64119, 0.701747, 0.739824, 0.736998, 0.772148, 0.755631, 0.51994, 0.587062, 0.756806, 0.643408, 0.602994, 0.758846, 0.72607, 0.736753, 0.716038, 0.769982, 0.735137, 0.708471, 0.673708, 0.669939, 0.753164, 0.709497, 0.674204, 0.758274, 0.678283, 0.727044, 0.54723, 0.736884, 0.702628, 0.737385, 0.717899, 0.76327, 0.677356, 0.72795, 0.763352, 0.711671, 0.746546, 0.606399, 0.740718, 0.711681, 0.739516, 0.739386, 0.721826, 0.749467, 0.710336, 0.767369, 0.739569, 0.539478, 0.729429, 0.581617, 0.699304, 0.777907, 0.744298, 0.680321, 0.724375, 0.737311, 0.74292, 0.716409, 0.65887, 0.477202, 0.726451, 0.657767, 0.649938, 0.755363, 0.73072, 0.753253, 0.771585, 0.747041, 0.734859, 0.724916, 0.721101, 0.72348, 0.770593, 0.611464, 0.726346, 0.679394, 0.723236, 0.706453, 0.700093, 0.76727, 0.769005, 0.732508, 0.723734, 0.696637, 0.626443, 0.722931, 0.480701, 0.574555, 0.752881, 0.74141, 0.621508, 0.738262, 0.755604, 0.652455, 0.7402, 0.737075, 0.69781, 0.753082, 0.69547, 0.738704, 0.647262, 0.737524, 0.737385, 0.595532, 0.627479, 0.718764, 0.635162, 0.640126, 0.589002, 0.718088, 0.692935, 0.772767, 0.611096, 0.773377, 0.768997, 0.733898, 0.746787, 0.748933, 0.59802, 0.735629, 0.744252, 0.756976, 0.720645, 0.663378, 0.661642, 0.58648, 0.745997, 0.693728, 0.687622, 0.469394, 0.741742, 0.771651, 0.486989, 0.693111, 0.755898, 0.758362, 0.621651, 0.61333, 0.728091, 0.671934, 0.662326, 0.731989, 0.731729, 0.751573, 0.653394, 0.734832, 0.753973, 0.599091, 0.722606, 0.709327, 0.725554, 0.66845, 0.741605, 0.739349, 0.727119, 0.731922, 0.743015, 0.707549, 0.764945, 0.755553, 0.531668, 0.75257, 0.614401, 0.562952, 0.750036, 0.740697, 0.701143, 0.750423, 0.640178, 0.563517, 0.62296, 0.727819, 0.672482, 0.657337, 0.662751, 0.637202, 0.587532, 0.741025, 0.745637, 0.710829, 0.743459, 0.726097, 0.764775, 0.715535, 0.729805, 0.763414, 0.768012, 0.720983, 0.755675, 0.72032, 0.548975, 0.707985, 0.735781, 0.596137, 0.754142, 0.620845, 0.707871, 0.599851, 0.741853, 0.686046, 0.633119, 0.659504, 0.74656, 0.717165, 0.647485, 0.646487, 0.692872, 0.702355, 0.665564, 0.755025, 0.627845, 0.733235, 0.639088, 0.731886, 0.736287, 0.738073, 0.51896, 0.722139, 0.737407, 0.754653, 0.708715, 0.759633, 0.731516, 0.699357, 0.745166, 0.666213, 0.725478, 0.76427, 0.580294, 0.581079, 0.774115, 0.732004, 0.664415, 0.771642, 0.70604, 0.723077, 0.756713, 0.745275, 0.764251, 0.756219, 0.556513, 0.757545, 0.706927, 0.754055, 0.601828, 0.754597, 0.711856, 0.642666, 0.740275, 0.726805, 0.753903, 0.770544, 0.695099, 0.740005, 0.735772, 0.757602, 0.671218, 0.73584, 0.736959, 0.746498, 0.585039, 0.716933, 0.755233, 0.729898, 0.554357, 0.772363, 0.786794, 0.776344, 0.623705, 0.759419, 0.650725, 0.748864, 0.716437, 0.757999, 0.767268, 0.750522, 0.751688, 0.725802, 0.709825, 0.755819, 0.74891, 0.751595, 0.746759, 0.742602, 0.418912, 0.557748, 0.693677, 0.570678, 0.566648, 0.612999, 0.676469, 0.700615, 0.766144, 0.534836, 0.701332, 0.522498, 0.676681, 0.733515, 0.767761, 0.723928, 0.732788, 0.768446, 0.512804, 0.550581, 0.638669, 0.52379, 0.730587, 0.714251, 0.726257, 0.469552, 0.614142, 0.764868, 0.69538, 0.734196, 0.734545, 0.672599, 0.636751, 0.730525, 0.485962, 0.763116, 0.746334, 0.635238, 0.732025, 0.730374, 0.640675, 0.759672, 0.544897, 0.64828, 0.712555, 0.729152, 0.605747, 0.741179, 0.74912, 0.739805, 0.772912, 0.770661, 0.745919, 0.734067, 0.764983, 0.678369, 0.728026, 0.707025, 0.726977, 0.764116, 0.617701, 0.625688, 0.592215, 0.734836, 0.689068, 0.63983, 0.538301, 0.734966, 0.68465, 0.742661, 0.676351, 0.726568, 0.602068, 0.727382, 0.58667, 0.756211, 0.778155, 0.54679, 0.61655, 0.604193, 0.71775, 0.743865, 0.753774, 0.562389, 0.527983, 0.687663, 0.641578, 0.727074, 0.695304, 0.774135, 0.748945, 0.663564, 0.65123, 0.517931, 0.771088, 0.743579, 0.740378, 0.748331, 0.532244, 0.74381, 0.69343, 0.766346, 0.724607, 0.736702, 0.758381, 0.7737, 0.700399, 0.634703, 0.66602, 0.626671, 0.516856, 0.79687, 0.713005, 0.515522, 0.678326, 0.689316, 0.623309, 0.577318, 0.746498, 0.752749, 0.738947, 0.771883, 0.754755, 0.71975, 0.512925, 0.729823, 0.666891, 0.621299, 0.770404, 0.715711, 0.674671, 0.507401, 0.7166, 0.741409, 0.591403, 0.755835, 0.620497, 0.584606, 0.718665, 0.651661, 0.536543, 0.738443, 0.677079, 0.653152, 0.741675, 0.724604, 0.679672, 0.761042, 0.705916, 0.726276, 0.473598, 0.683228, 0.66337, 0.734678, 0.776737, 0.567314, 0.663333, 0.76966, 0.59298, 0.767554, 0.736663, 0.657792, 0.613028, 0.755777, 0.754704, 0.634737, 0.519892, 0.50254, 0.755169, 0.717995, 0.651926, 0.70215, 0.763765, 0.732299, 0.757519, 0.480104, 0.740338, 0.770649, 0.629194, 0.750948, 0.7755, 0.70596, 0.750015, 0.728064, 0.681864, 0.747054, 0.720045, 0.560898, 0.726051, 0.55389, 0.772365, 0.691373, 0.622474, 0.646419, 0.73002, 0.773147, 0.641772, 0.748005, 0.640766, 0.696694, 0.626505, 0.750044, 0.77391, 0.743625, 0.739057, 0.742644, 0.516842, 0.686501, 0.508924, 0.74578, 0.709352, 0.592955, 0.479119, 0.545735, 0.737062, 0.78876, 0.71156, 0.735675, 0.750927, 0.635984, 0.537308, 0.742815, 0.727567, 0.756548, 0.723822, 0.726286, 0.678966, 0.534699, 0.753199, 0.661881, 0.581942, 0.576786, 0.719774, 0.745786, 0.750093, 0.752821, 0.754762, 0.672222, 0.727745, 0.52475, 0.670227, 0.745621, 0.752069, 0.719238, 0.7692, 0.597744, 0.55009, 0.652723, 0.732109, 0.75578, 0.734003, 0.574236, 0.738937, 0.762829, 0.720958, 0.718852, 0.62855, 0.686218, 0.62379, 0.653058, 0.738062, 0.765732, 0.774104, 0.761056, 0.552159, 0.743265, 0.684016, 0.644997, 0.708229, 0.676888, 0.774758, 0.701938, 0.641392, 0.676838, 0.68549, 0.604211, 0.605776, 0.761483, 0.720232, 0.737157, 0.561525, 0.718743, 0.75139, 0.579514, 0.588921, 0.573426, 0.730155, 0.722716, 0.733189, 0.718151, 0.743882, 0.770794, 0.645999, 0.718702, 0.767917, 0.739908, 0.657233, 0.766214, 0.738701, 0.711568, 0.725769, 0.652851, 0.766196, 0.656454, 0.721704, 0.670476, 0.732378, 0.622332, 0.718322, 0.735146, 0.748857, 0.730344, 0.650301, 0.716845, 0.719509, 0.782771, 0.755947, 0.536067, 0.73547, 0.74548, 0.612664, 0.77044, 0.548211, 0.605929, 0.749323, 0.657982, 0.6885, 0.72343, 0.723229, 0.740917, 0.762461, 0.755417, 0.753533, 0.743896, 0.733338, 0.729784, 0.673909, 0.732582, 0.749682, 0.641546, 0.639441, 0.755827, 0.692459, 0.748974, 0.732642, 0.648502, 0.689356, 0.744279, 0.636039, 0.755111, 0.76962, 0.599701, 0.663765, 0.763557, 0.774934, 0.744356, 0.59563, 0.735548, 0.772092, 0.750502, 0.725755, 0.677759, 0.737976, 0.620884, 0.586919, 0.735516, 0.758743, 0.603704, 0.642218, 0.539786, 0.589981, 0.617699, 0.718152, 0.67714, 0.779784, 0.62302, 0.730287, 0.685189, 0.762974, 0.650211, 0.597336, 0.695864, 0.768177, 0.515008, 0.462975, 0.743156, 0.683498, 0.722631, 0.638831, 0.68742, 0.736192, 0.649087, 0.772715, 0.731062, 0.665083, 0.625755, 0.72806, 0.460188, 0.720301, 0.753408, 0.697387, 0.681841, 0.761066, 0.758607, 0.763093, 0.646058, 0.705634, 0.715381, 0.644003, 0.69795, 0.7728, 0.733836, 0.726228, 0.780861, 0.752788, 0.716563, 0.745788, 0.742556, 0.731115, 0.655092, 0.713687, 0.704268, 0.652568, 0.760934, 0.739013, 0.734693, 0.70239, 0.719425, 0.665797, 0.731466, 0.689659, 0.528618, 0.702361, 0.564236, 0.765264, 0.710479, 0.761001, 0.773514, 0.740517, 0.750206, 0.750446, 0.708924, 0.749874, 0.703848, 0.691401, 0.705265, 0.684196, 0.598669, 0.648805, 0.772878, 0.723859, 0.542848, 0.736546, 0.734463, 0.737501, 0.767072, 0.723021, 0.75192, 0.649011, 0.546868, 0.569211, 0.759138, 0.697281, 0.67519, 0.773829, 0.688274, 0.763733, 0.738774, 0.658373, 0.746468, 0.74334, 0.73733, 0.581768, 0.625396, 0.599648, 0.567716, 0.750438, 0.710584, 0.709984, 0.618987, 0.757352, 0.641903, 0.655654, 0.657015, 0.762249, 0.671725, 0.564115, 0.666795, 0.756006, 0.730466, 0.73654, 0.531886, 0.634824, 0.70277, 0.612816, 0.712903, 0.707824, 0.597231, 0.616188, 0.715512, 0.595295, 0.593288, 0.607938, 0.680584, 0.580767, 0.482563, 0.778693, 0.756493, 0.794869, 0.712767, 0.762321, 0.701156, 0.622616, 0.748989, 0.719266, 0.560208, 0.750465, 0.734862, 0.707699, 0.504224, 0.729739, 0.668322, 0.650109, 0.566681, 0.737182, 0.769016, 0.775598, 0.737865, 0.624763, 0.717652, 0.743056, 0.480962, 0.740668, 0.68067, 0.7306, 0.577598, 0.613356, 0.779551, 0.73983, 0.745207, 0.721368, 0.728184, 0.729403, 0.610766, 0.726075, 0.647619, 0.544475, 0.753951, 0.72554, 0.724651, 0.749458, 0.76464, 0.773091, 0.667212, 0.769178, 0.689459, 0.690992, 0.754876, 0.725321, 0.770062, 0.747147, 0.541642, 0.762318, 0.558708, 0.63124, 0.598227, 0.582668, 0.778326, 0.764217, 0.746697, 0.735128, 0.743763, 0.728756, 0.640613, 0.768613, 0.724591, 0.733975, 0.547463, 0.775547, 0.50742, 0.723057, 0.691344, 0.729126, 0.751279, 0.746459, 0.772869, 0.774086, 0.737621, 0.605866, 0.741288, 0.739129, 0.6945, 0.735445, 0.781473, 0.731949, 0.737432, 0.689771, 0.75123, 0.737798, 0.731345, 0.65864, 0.56513, 0.745232, 0.697444, 0.511894, 0.749867, 0.70368, 0.765016, 0.73548, 0.464405, 0.671777, 0.731547, 0.631253, 0.747298, 0.527866, 0.753154, 0.6584, 0.74647, 0.525115, 0.691096, 0.604466, 0.657386, 0.635501, 0.757612, 0.710552, 0.738178, 0.75845, 0.662611, 0.723228, 0.695655, 0.682556, 0.595625, 0.76605, 0.688698, 0.578871, 0.577723, 0.620177, 0.662708, 0.53213, 0.605756, 0.745568, 0.76666, 0.780734, 0.762457, 0.765621, 0.654293, 0.752284, 0.724177, 0.749014, 0.721134, 0.739434, 0.491577, 0.704092, 0.737457, 0.727292, 0.620451, 0.744557, 0.762156, 0.725582, 0.772478, 0.734288, 0.715525, 0.772876, 0.728946, 0.733152, 0.585802, 0.754459, 0.72852, 0.686694, 0.729486, 0.72122, 0.77437, 0.631245, 0.719821, 0.646413, 0.629387, 0.606956, 0.64923, 0.690674, 0.691372, 0.633617, 0.706737, 0.670038, 0.512606, 0.638592, 0.620665, 0.717426, 0.531133, 0.639413, 0.668379, 0.725702, 0.726855, 0.610001, 0.762298, 0.680497, 0.553921, 0.470662, 0.682412, 0.702539, 0.48982, 0.653121, 0.711213, 0.611448, 0.469711, 0.601074, 0.735291, 0.746843, 0.714569, 0.633469, 0.672985, 0.494236, 0.751097, 0.722663, 0.62838, 0.530819, 0.758227, 0.688046, 0.615849, 0.722805, 0.729696, 0.57605, 0.705887, 0.752509, 0.691175, 0.587287, 0.774773, 0.5219, 0.735443, 0.632486, 0.747068, 0.765641, 0.718642, 0.759976, 0.570119, 0.674949, 0.680687, 0.707928, 0.654307, 0.747371, 0.655288, 0.743977, 0.461876, 0.704699, 0.704345, 0.721781, 0.490526, 0.729677, 0.693617, 0.733445, 0.670941, 0.764893, 0.764327, 0.600117, 0.58882, 0.646359, 0.704145, 0.762914, 0.757672, 0.681277, 0.766374, 0.713716, 0.775715, 0.730869, 0.715172, 0.648855, 0.765805, 0.500566, 0.738747, 0.698686, 0.753423, 0.617519, 0.698914, 0.510902, 0.778733, 0.735789, 0.688486, 0.643502, 0.603637, 0.74583, 0.699737, 0.758449, 0.585007, 0.749882, 0.598022, 0.535496, 0.751801, 0.530477, 0.570607, 0.68555, 0.615964, 0.752594, 0.701044, 0.705608, 0.600172, 0.675085, 0.697969, 0.692284, 0.648017, 0.704039, 0.577043, 0.690693, 0.667463, 0.740924, 0.742538, 0.778271, 0.611001, 0.774298, 0.742579, 0.753991, 0.722288, 0.749669, 0.65167, 0.636601, 0.740586, 0.717992, 0.764251, 0.724816, 0.647667, 0.466955, 0.61178, 0.653149, 0.558631, 0.637516, 0.704492, 0.496536, 0.490266, 0.711786, 0.673178, 0.740751, 0.729959, 0.632504, 0.754613, 0.602847, 0.601859, 0.531494, 0.545188, 0.743975, 0.721407, 0.558688, 0.708321, 0.713068, 0.767625, 0.702961, 0.688037, 0.722927, 0.735523, 0.723465, 0.588792, 0.69111, 0.58156, 0.724215, 0.69173, 0.718684, 0.660043, 0.751301, 0.696475, 0.772912, 0.597194, 0.634408, 0.535034, 0.562382, 0.770864, 0.770981, 0.623945, 0.721143, 0.503832, 0.649841, 0.72987, 0.729778, 0.709671, 0.500427, 0.718238, 0.691461, 0.759829, 0.763025, 0.621443, 0.712918, 0.702621, 0.659308, 0.727945, 0.666855, 0.559986, 0.771847, 0.723185, 0.714699, 0.663178, 0.60573, 0.525783, 0.507439, 0.711904, 0.614963, 0.724578, 0.743606, 0.71151, 0.789481, 0.681139, 0.590313, 0.689883, 0.582854, 0.750449, 0.608583, 0.721492, 0.525838, 0.725987, 0.73528, 0.756428, 0.517952, 0.57141, 0.7623, 0.645481, 0.728619, 0.747162, 0.6547, 0.527568, 0.687962, 0.781405, 0.76916, 0.64822, 0.763837, 0.53164, 0.603866, 0.683931, 0.686427, 0.752526, 0.653796, 0.76489, 0.710337, 0.622838, 0.68014, 0.753352, 0.654157, 0.72799, 0.676001, 0.628946, 0.608772, 0.775642, 0.607169, 0.709404, 0.499718, 0.746918, 0.782818, 0.737508, 0.745902, 0.531559, 0.771631, 0.644423, 0.64653, 0.665246, 0.686271, 0.642321, 0.671931, 0.754127, 0.63108, 0.660483, 0.778385, 0.64486, 0.548396, 0.598133, 0.739028, 0.650565, 0.605275, 0.755044, 0.528828, 0.638433, 0.754033, 0.738178, 0.676654, 0.741674, 0.743263, 0.617811, 0.598304, 0.611894, 0.6032, 0.655006, 0.571181, 0.673604, 0.678278, 0.59719, 0.645955, 0.739157, 0.614438, 0.611733, 0.473247, 0.60121, 0.679549, 0.746096, 0.685602, 0.654848, 0.62777, 0.650897, 0.690644, 0.657568, 0.659831, 0.630998, 0.667667, 0.632814, 0.613483, 0.754875, 0.635395, 0.716275, 0.661088, 0.616633, 0.606798, 0.72316, 0.639446, 0.685077, 0.64138, 0.604326, 0.658357, 0.567651, 0.683505, 0.489571, 0.65454, 0.657837, 0.501498, 0.616298, 0.604346, 0.760422, 0.71294, 0.598833, 0.692526, 0.729726, 0.63659, 0.626177, 0.655106, 0.648475, 0.582353, 0.690716, 0.753524, 0.718192, 0.621983, 0.615812, 0.604536, 0.661958, 0.684609, 0.755362, 0.654803, 0.51066, 0.629702, 0.736379, 0.64063, 0.512104, 0.564816, 0.681814, 0.693511, 0.547767, 0.557402, 0.720485, 0.665177, 0.569049, 0.610742, 0.723958, 0.632287, 0.777765, 0.773166, 0.602719, 0.556953, 0.729037, 0.536689, 0.668054, 0.606283, 0.772368, 0.685425, 0.597246, 0.667909, 0.710415, 0.709512, 0.695691, 0.754361, 0.694585, 0.647753, 0.777108, 0.470853, 0.595415, 0.752683, 0.77025, 0.733643, 0.696901, 0.629694, 0.731507, 0.735592, 0.640808, 0.736003, 0.644332, 0.780276, 0.518075, 0.756827, 0.770098, 0.648686, 0.690781, 0.681698, 0.767171, 0.58751, 0.678315, 0.647499, 0.696865, 0.765672, 0.763813, 0.659405, 0.769288, 0.712278, 0.720535, 0.781327, 0.739986, 0.692692, 0.60289, 0.511065, 0.741017, 0.473155, 0.76829, 0.519941, 0.76612, 0.703153, 0.744939, 0.726583, 0.741417, 0.780756, 0.622906, 0.695349, 0.777041, 0.748773, 0.600982, 0.521821, 0.738594, 0.588982, 0.725426, 0.777969, 0.480838, 0.753383, 0.444649, 0.45394, 0.738689, 0.463676, 0.684353, 0.760251, 0.751723, 0.756623, 0.757996, 0.487862, 0.451018, 0.552965, 0.716799, 0.494103, 0.482074, 0.434797, 0.70615, 0.545312, 0.504812, 0.780615, 0.597552, 0.742324, 0.677039, 0.769191, 0.780183, 0.490595, 0.515482, 0.674153, 0.513787, 0.772419, 0.734275, 0.763352, 0.690326, 0.580036, 0.704504, 0.704313, 0.774959, 0.698256, 0.742001, 0.769083, 0.491038, 0.764472, 0.597998, 0.64196, 0.725942, 0.505048, 0.76819, 0.503697, 0.634447, 0.769523, 0.517266, 0.783984, 0.634196, 0.782116, 0.77913, 0.736477, 0.7665, 0.513537, 0.776193, 0.570678, 0.760916, 0.716345, 0.572335, 0.693376, 0.710087, 0.769961, 0.673654, 0.792702, 0.688928, 0.523056, 0.542506, 0.561998, 0.48199, 0.711154, 0.593558, 0.454481, 0.748636, 0.736271, 0.612213, 0.703261, 0.760337, 0.526665, 0.657123, 0.741018, 0.47376, 0.745216, 0.737696, 0.748278, 0.636114, 0.746495, 0.597798, 0.699706, 0.631718, 0.527218, 0.726227, 0.624733, 0.61381, 0.421798, 0.473913, 0.713467, 0.771097, 0.725795, 0.760327, 0.769581, 0.503527, 0.749742, 0.695432, 0.418242, 0.491156, 0.587358, 0.758683, 0.738333, 0.676279, 0.778865, 0.770085, 0.755812, 0.767279, 0.750912, 0.730238, 0.555738, 0.772198, 0.722055, 0.729464, 0.772721, 0.498802, 0.482925, 0.77203, 0.757069, 0.590506, 0.742209, 0.702021, 0.779502, 0.732105, 0.76386, 0.754635, 0.758252, 0.752379, 0.774837, 0.757915, 0.735845, 0.783377, 0.510503, 0.513914, 0.675521, 0.536042, 0.767859, 0.499277, 0.780723, 0.773562, 0.530001, 0.546235, 0.794126, 0.435589, 0.773101, 0.732721, 0.749905, 0.716677, 0.76428, 0.543571, 0.481081, 0.760789, 0.779666, 0.555223, 0.767055, 0.615201, 0.557142, 0.679248, 0.58067, 0.667567, 0.777777, 0.76402, 0.592545, 0.741176, 0.745955, 0.774363, 0.693583, 0.748727, 0.619989, 0.732739, 0.766707, 0.692294, 0.754894, 0.716844, 0.759793, 0.70362, 0.766336, 0.704148, 0.782817, 0.71297, 0.631486, 0.55296, 0.544664, 0.508148, 0.530312, 0.698545, 0.786152, 0.745703, 0.494942, 0.752452, 0.774271, 0.576576, 0.744767, 0.728339, 0.564251, 0.52011, 0.494355, 0.535357, 0.723834, 0.766226, 0.76186, 0.561663, 0.745896, 0.681691, 0.693536, 0.609173, 0.474038, 0.48806, 0.580541, 0.772022, 0.620481, 0.555935, 0.786035, 0.774543, 0.545656, 0.658271, 0.635661, 0.771685, 0.479371, 0.640504, 0.681163, 0.767546, 0.65689, 0.551459, 0.552763, 0.535569, 0.594907, 0.774897, 0.732422, 0.484128, 0.725237, 0.780673, 0.768922, 0.751172, 0.470929, 0.691622, 0.533275, 0.767983, 0.783492, 0.763792, 0.767675, 0.742342, 0.686224, 0.77077, 0.739992, 0.761258, 0.717707, 0.782135, 0.717578, 0.763139, 0.747594, 0.487832, 0.562431, 0.522445, 0.574814, 0.751808, 0.593166, 0.573449, 0.736954, 0.543307, 0.72841, 0.632155, 0.564201, 0.701127, 0.562331, 0.445029, 0.748799, 0.588059, 0.686953, 0.588059, 0.693536, 0.676199, 0.619597, 0.650639, 0.707791, 0.690427, 0.683512, 0.639568, 0.709624, 0.682393, 0.651915, 0.73778, 0.680107, 0.683728, 0.711804, 0.631582, 0.711689, 0.691391, 0.702824, 0.609909, 0.725735, 0.685866, 0.710403, 0.703994, 0.69794, 0.599687, 0.698946, 0.686428, 0.719443, 0.682458, 0.691912, 0.677375, 0.68498, 0.710011, 0.565529, 0.698173, 0.722302, 0.713253, 0.480044, 0.70224, 0.644569, 0.642932, 0.653824, 0.69148, 0.695591, 0.713305, 0.683023, 0.662117, 0.514766, 0.658305, 0.628193, 0.707356, 0.741694, 0.681779, 0.687282, 0.690588, 0.714594, 0.688692, 0.433169, 0.417429, 0.472584, 0.716348, 0.618837, 0.546489, 0.734255, 0.732665, 0.744158, 0.731411, 0.726135, 0.763486, 0.736489, 0.740289, 0.752603, 0.717042, 0.732658, 0.715466, 0.730612, 0.720703, 0.738907, 0.730718, 0.740898, 0.738451, 0.680353, 0.743183, 0.740887, 0.711873, 0.705396, 0.710834, 0.735851, 0.705183, 0.694408, 0.7545, 0.735679, 0.724354, 0.592525, 0.717209, 0.779256, 0.777266, 0.751786, 0.785187, 0.76193, 0.755251, 0.696572, 0.665487, 0.690979, 0.642374, 0.742544, 0.669014, 0.679714, 0.665328, 0.764156, 0.761172, 0.560967, 0.778649, 0.523864, 0.757514, 0.727974, 0.713099, 0.566648, 0.751826, 0.410039, 0.77555, 0.525563, 0.716436, 0.771109, 0.670258, 0.497847, 0.595986, 0.719626, 0.508879, 0.766912, 0.65363, 0.552939, 0.764283, 0.504592, 0.77028, 0.571849, 0.622079, 0.774432, 0.747132, 0.435759, 0.524907, 0.735413, 0.508479, 0.706123, 0.742006, 0.692767, 0.623994, 0.762021, 0.772882, 0.782559, 0.741305, 0.652772, 0.719016, 0.7228, 0.683058, 0.447197, 0.434979, 0.57817, 0.613773, 0.73666, 0.497103, 0.623962, 0.578069, 0.480856, 0.747709, 0.704414, 0.523254, 0.666258, 0.586312, 0.689702, 0.612878, 0.54345, 0.614974, 0.588828, 0.720412, 0.597912, 0.683135, 0.739568, 0.68199, 0.712365, 0.676143, 0.687028, 0.716924, 0.671071, 0.77725, 0.637069, 0.724279, 0.673785, 0.734147, 0.670733, 0.701573, 0.631863, 0.657115, 0.674283, 0.679178, 0.648128, 0.632912, 0.660281, 0.672425, 0.680338, 0.73728, 0.762819, 0.74856, 0.780844, 0.704649, 0.750034, 0.759586, 0.7685

# FILL WITH THE MOST FREQUENT

In [51]:
# FOR LIGHTGBM, WE DECIDED NOT TO IMPUTE THE MISSING VALUES.

fill_values = df.mode().iloc[0]
fill_values

user_action                                         visit
sellingprice                                          0.0
product_name          W - Lab Madeleb 40 Ml 8680419062398
brand_name                                  TRENDYOLMİLLA
businessunit                                      Kadın A
product_gender                                      Kadın
category_id                                         601.0
Level1_Category_Id                                  522.0
Level2_Category_Id                                 2871.0
gender                                                  F
unique_id                                            19.0
timestamp_dt                   2020-11-13 18:21:20.017000
weekday                                                 2
month                                                  11
hour                                                   21
Name: 0, dtype: object

In [52]:
df = df.fillna(fill_values)
df_test = df_test.fillna(fill_values)

In [53]:
df.dtypes

user_action                   object
sellingprice                 float64
product_name                  object
brand_name                    object
businessunit                  object
product_gender                object
category_id                  float64
Level1_Category_Id           float64
Level2_Category_Id           float64
gender                        object
unique_id                      int64
timestamp_dt          datetime64[ns]
weekday                        int64
month                          int64
hour                           int64
dtype: object

In [65]:
def rare_encoder(dataframe, rare_perc):
    temp_df = dataframe.copy()

    rare_columns = [col for col in temp_df.columns if temp_df[col].dtypes == 'O'
                    and (temp_df[col].value_counts() / len(temp_df) < rare_perc).any(axis=None)]

    for var in rare_columns:
        tmp = temp_df[var].value_counts() / len(temp_df)
        rare_labels = tmp[tmp < rare_perc].index
        temp_df[var] = np.where(temp_df[var].isin(rare_labels), 'Rare', temp_df[var])

    return temp_df

# Rare Encoding

rare_df = rare_encoder(df, 0.001)
rare_test = rare_encoder(df_test, 0.001)

In [66]:
# Check if the categories are same for train and test, after rare encoding

cat_cols = ['product_name','brand_name','businessunit','category_id','Level1_Category_Id','Level2_Category_Id']

for col in cat_cols:
    a = set(rare_df[col].unique())
    b = set(rare_test[col].unique())
    print(a==b)

True
False
True
False
True
False

# RF IMPUTING STRATEGY

In [76]:
columns = ['product_name', 'brand_name', 'businessunit', 'category_id', 'Level1_Category_Id', 'Level2_Category_Id']

random_dict = {}

for column in columns:
    s = df[column].notnull()
    null = s[~s].index
    not_null = s[s].index
    
    df_notnull = df.loc[not_null, :]
    df_notnull_x = df_notnull[['weekday','month','hour']]  #'user_action', doesn't work with RF. 
    df_notnull_y = df_notnull[column]
    
    rf_impute = RandomForestClassifier(n_estimators = 100)
    rf_impute.fit(df_notnull_x, df_notnull_y)
    
    df_null = df.loc[null, :]
    df_null_x = df_null[['weekday','month','hour']] #'user_action', doesn't work with RF.
    df_null_y = rf_impute.predict(df_null_x)
    
    random_dict[f'{column}'] = df_null_y
    break
    
# could not allocate 1808261120 bytes

MemoryError: could not allocate 1808261120 bytes

df.isnull().sum()